main{
    padding-bottom: 75px;
    min-height: calc(100vh - 58px);
}
header{
    height: 58px;
}
h3{
    font-size: 22px;
}
h2{
    /* position: relative; */
}
h1{
    position: absolute;
    top: 8px;
    left: 4%;
}
.btn-logs{
    top: 14px;
    right: 4%;
    position: absolute;
}
footer{
    margin: 0;
    margin-top: -30px;
    bottom: 0;
}
footer p, footer a{
    margin: 0;
    color: #6c757d!important;
}
footer a{
    text-decoration: underline;
}
.btn{
    font-size: 12px;
    padding: 4px 12px;
}
.panel-tool{
    padding: 60px 60px;
    margin-top: 25px;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.infos{
    position: relative;
    margin-bottom: 30px;
}
.infos:after{
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    margin-top: 38px;
    background-color: lightgrey;
}
.infos:last-child:after{
    content: '';
    left: 0;
    width: 0;
}
.infos:last-child{
    margin-bottom: inherit;
}
.dot{
    width: 12px;
    height: 12px;
    margin-top: 6px;
    display: inline-block;
    border-radius: 2px;
    position: absolute;
    right: 0;
}
.dot--title{
    position: absolute;
    top: 12px;
    right: 12px;
    margin-top: 0;
}
.dot--red{
    background-color: #bd2130;
}
.dot--orange{
    background-color: orange;
}
.dot--green{
    background-color: #4caf50 !important;
}
.dot--unknow{
    background-color: #e83eba;
}
.custom-control-input:checked~.custom-control-label::before, .btn{
    background-color: orange;
    border-color: darkorange;
}
.btn-container{
    margin-top: 20px;
}
.btn:hover{
    background-color: darkorange;
    border-color: orange;
}
.btn:active, .btn:focus{
    background-color: darkorange !important;
    border-color: orange !important;
    box-shadow: 0 0 0 0.2rem rgba(255, 166, 0,.5) !important;
}

input:focus{
    box-shadow: 0 0 0 0.2rem rgba(255, 166, 0,.5) !important;
}

.red-stroke{
    border: 2px solid #bd2130;
    transition: all 0.3s ease-out;
}
.trans-stroke{
    border: 2px solid #bababa;
    transition: all 0.3s ease-out;
}

/* -------- Réveil & heure. -------- */
#timer{
    font-size: 36px;
    margin: 0;
}
#alarm-list{
    padding: 0;
    list-style: none;
}
.input-alarm{
    border-radius: 6px;
    display: inline-block;
    padding-bottom: 3px;
    float: right;
    margin-right: 35px;
}
.timer-week{
    display: inline-block;
}
.timer-validation{
    text-align: right;
}
.timer-check{ /* Check smiley V */
    position: absolute;
    top: 8px;
    right: 10px;
    font-size: 24px;
}
.alarm-block{
    background-color: #f6f6f6;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
    position: relative;
}

/* -------- LOGS -------- */

.logs-list{
    padding: 0;
}

.logs-list li{
    border-bottom: 1px solid #bababa;
    margin-top: 16px;
}
.logs-desc{
    font-weight: bold;
}
.logs-date{
    text-align: right;
    font-size: 12px;
    margin-top: 5px;
}
#id_logs p{
    background-color: lightblue;
    padding: 2px 10px;
    display: inline;
    border-radius: 3px;
    font-size: 12px;
    width: 100%;
}
