main{
    padding-bottom: 75px;
}
header{
    height: 58px;
}
h2{
    /* position: relative; */
}
footer{
    margin: 0;
    margin-top: -30px;
    bottom: 0;
}
footer p{
    margin: 0;
}
.btn{
    font-size: 12px;
    padding: 4px 12px;
}
.panel-tool{
    padding: 60px 60px;
    margin-top: 25px;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.infos{
    position: relative;
    margin-bottom: 30px;
}
.infos:after{
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    margin-top: 38px;
    background-color: lightgrey;
}
.infos:last-child:after{
    content: '';
    left: 0;
    width: 0;
}
.infos:last-child{
    margin-bottom: inherit;
}
.dot{
    width: 12px;
    height: 12px;
    margin-top: 6px;
    display: inline-block;
    border-radius: 2px;
    position: absolute;
    right: 0;
}
.dot--title{
    position: absolute;
    top: 12px;
    right: 12px;
    margin-top: 0;
}
.dot--red{
    background-color: #bd2130;
}
.dot--orange{
    background-color: orange;
}
.dot--green{
    background-color: #4caf50 !important;
}
.dot--unknow{
    background-color: #e83eba;
}
.custom-control-input:checked~.custom-control-label::before, .btn{
    background-color: orange;
    border-color: darkorange;
}
.btn-container{
    margin-top: 20px;
}
.btn:hover{
    background-color: darkorange;
    border-color: orange;
}
.btn:active, .btn:focus{
    background-color: darkorange !important;
    border-color: orange !important;
    box-shadow: 0 0 0 0.2rem rgba(255, 166, 0,.5) !important;
}

input:focus{
    box-shadow: 0 0 0 0.2rem rgba(255, 166, 0,.5) !important;
}
